.App {
  margin: none;
  text-align: center;
  color:azure;
  background-color:#222222;
  font-family: 'Kanit';
}

.putrid-title {
  font-family: 'Gravitas One';
  margin-top: .5vw;
  color: #49C11C;
  -webkit-text-stroke: .2vw #55DD22;
  font-size: 4vw;
}

.putrid-title:hover {
  transform: scale(1.05);
  transition: all ease-in-out .3s;
  -webkit-text-stroke: .2vw #45fc02;
}

