.card {
  box-sizing: border-box;
  height: 28vw;
  border-radius: .5vw;
  width: 15vw;
  padding: 10px;
  padding-bottom: -1em;
  color: azure;
}

.card:hover {
  background-color: #141414;
  transform: scale(1.2);
  transition: all ease-in-out .3s;
}

.poster {
  height: 18vw;
  width: 13vw;
  border-radius: .5vw;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}